<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Anatomy Game</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="game.js"></script>
</head>

<body>

  <!-- HEADER -->
  <header>Human Anatomy Game</header>
  <h1>Level 1</h1> <br><br><br><br><br><br>

  <!-- ADDING THE SCORE -->
  <p>Score: <text id="score">0</text> </p>


  <!-- IMAGES FOR DROPPING -->
  <div class="dragImg" ondrop="onDrop1(event)">
    <img src="cat.png" ondragstart="dragStart1(event)" draggable="true" id="img1">
  </div>

  <div class="dragImg" ondrop="onDrop2(event)">
    <img src="dog.png" ondragstart="dragStart2(event)" draggable="true" id="img2">
  </div>

  <div class="dragImg" ondrop="onDrop3(event)">
    <img src="rocket.png" ondragstart="dragStart3(event)" draggable="true" id="img3">
  </div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


  <!-- IMAGES DROPZONE -->
  <div id="dropArea1" class="dropArea" ondrop="onDrop4(event)" ondragover="dragOver1(event)" ondragenter="dragEnter1(event)" ondragleave="dragLeave1(event)">CAT</div>
  <div id="dropArea2" class="dropArea" ondrop="onDrop5(event)" ondragover="dragOver2(event)" ondragenter="dragEnter2(event)" ondragleave="dragLeave2(event)">DOGGO</div>
  <div id="dropArea3" class="dropArea" ondrop="onDrop6(event)" ondragover="dragOver3(event)" ondragenter="dragEnter3(event)" ondragleave="dragLeave3(event)">ROCKET</div>

  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


  <!-- BUTTON TO SUBMIT YOUR SELECTIONS -->
  <button class="myButton" onclick="submitAnsw()">Submit</button>

</body>

</html>